<%
 const header = require('./layouts/default/header.ejs');
 const footer = require('./layouts/default/footer.ejs');

 const News = require('./components/news/list.ejs');

 const list = ['Элемент 1', 'Элемент 2', 'Элемент 3'];
 const newsList = [
  {
    title: 'Новость 1',
    description: 'Описание 1',
  },
  {
   title: 'Новость 2',
   description: 'Описание 2',
  },
  {
   title: 'Новость 3',
   description: 'Описание 3',
  }
 ];
%>

<%- header({ content: 'Хедер' }) -%>

<main>
 <div class="container">
  <h1>
   Инструкция по работе
  </h1>

  <h2>
   1. Директории
  </h2>
  <code>
   src<br>
   ├───fonts - шрифты<br>
   ├───html<br>
   │   ├───components - компонеты верстки<br>
   │   │   ├───common - общие компоненты верстки<br>
   │   │   └───news - пример компонетов страниц новостей<br>
   │   └───layouts - лояуты верстки (header, footer)<br>
   │       └───default - пример лояута<br>
   ├───images - изображения<br>
   │   ├───content - изображения контентные (баннеры, фото в новостях и тд)<br>
   │   └───design - изображения дизайнерские (иконки, элементы дизайна)<br>
   ├───js - js файлы<br>
   │   └───modules - здесь лежат js модули<br>
   │   └───app.js - файл поодключения js модулей<br>
   ├───scss - scss файлы стилей<br>
   │   ├───base - базовые файлы стилей<br>
   │   │   ├───_fonts.scss - подключение шрифтов<br>
   │   │   ├───_mixins.scss - миксины<br>
   │   │   ├───_print.scss - стили печати<br>
   │   │   ├───_reset.scss - сброс стандартных файлов<br>
   │   │   └───_vars.scss - переменные<br>
   │   ├───dirty - Хаки для старых браузеров<br>
   │   └───modules - модули стилей<br>
   │   │   ├───common - общие модули стилей<br>
   │   │   └───news - пример модулей стилей страниц новостей<br>
   │   └───app.scss - файл поодключения scss модулей<br>
   └───videos - видео файлы<br>
  </code>
 </div>
</main>

<%- footer({ content: 'Футер' }) -%>


