<%
 const header = require('./layouts/default/header.ejs');
 const footer = require('./layouts/default/footer.ejs');

 const News = require('./components/news/list.ejs');

 const list = ['Элемент 1', 'Элемент 2', 'Элемент 3'];
 const newsList = [
  {
    title: 'Новость 1',
    description: 'Описание 1',
  },
  {
   title: 'Новость 2',
   description: 'Описание 2',
  },
  {
   title: 'Новость 3',
   description: 'Описание 3',
  }
 ];
%>

<%- header({ content: 'Хедер' }) -%>

<div>
 Контент главной
</div>

<ul>
 <% list.forEach(function(el){ %>
  <li><%- el %></li>
 <% }); %>
 <%- News({ news: newsList }) %>
</ul>

<%- footer({ content: 'Футер' }) -%>


