<%
 const header = require('./layouts/default/header.ejs');
 const footer = require('./layouts/default/footer.ejs');

 const list = ['Элемент 1', 'Элемент 2', 'Элемент 3'];
%>

<%- header({ content: 'Хедер' }) -%>

<div>
 Контент главной
</div>

<ul>
 <% list.forEach(function(el){ %>
  <li><%- el %></li>
 <% }); %>
</ul>

<%- footer({ content: 'Футер' }) -%>


