/**
 * Helper mixins
*/

// Media queries
@mixin bp($point) {
	@if $point == large {
		@media (min-width: 1280px) {
			@content;
		}
	} @else if $point == small {
		@media (max-width: 1279px) {
			@content;
		}
	}
}

// Text selection
@mixin text-selection($color-selection, $color-selection-bg) {
	::selection {
		background: $color-selection-bg;
		color: $color-selection;
		text-shadow: none;
	}
}

// Placeholders
// Usage:
// @include placeholder;
@mixin placeholder {
	::placeholder {
		@content;
	}
}
