<%
    const Card = require('./card.ejs');
%>

<div class="news-list">
    <% news.forEach((item) => { %>
        <div class="news-list__item">
            <%-
                Card({
                    title: item.title,
                    description: item.description
                });
            %>
        </div>
    <% }); %>
</div>
